<%- include("../partials/header") %>

<div class="container">
	<h1>
		List of all your habits to track!
	</h1>

	<ul>
		<% user.habits.forEach((habit) => { %>
			<li><a href="/habits/<%= habit._id %>"><%= habit.name %></a></li>
		<% }) %>
	</ul>
	
	<a href="/habits/new">Track a new habit</a>
</div>


<%- include("../partials/footer") %>