<%- include("../partials/header") %>

<h1>
	Add a new habit to track!
</h1>

<form action="/habits" method="POST">
	<label for="habitName">New Habit To Track:</label>
	<input id="habitName" type="text" name="habit[name]" placeholder="New Habit">
	
	<input type="submit">
</form>

<%- include("../partials/footer") %>